@page
@model _1.e_Projekt.Pages.MyPages.GetExhibitionsModel
@{
}

<h1>  List Of Exhibitions  </h1>


@foreach (var item in Model.ExhibitionCollection)
{

    <div class="container">
        <div class="row">
            <div class="col-sm">
                @item.Value.ExhibitionId
                @item.Value.ExhibitionName
                @item.Value.ImageName
                <a asp-page="DeleteExhibitions" asp-route-id="@item.Key">remove</a>
                <a asp-page="UpdateExhibitions" asp-route-id="@item.Key">update</a>
                <a asp-page="" asp-route-id="@item.Key">update</a>
                <audio controls>
                    <source src="@item.Value.AudioFile" type="@item.Value.AudioFile" />
                    <source src="@item.Value.AudioFile" type="@item.Value.AudioFile">
                    Your browser does not support the audio tag.
                </audio>


            </div>

        </div>
    </div>

   


}





