@page
@model _1.e_Projekt.Pages.MyPages.GetExhibitionsModel
@{
}

<h1>  List Of Exhibitions  </h1>


    @foreach (var item in Model.ExhibitionCollection)
    {
  
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    @item.Value.ExhibitionId
                    @item.Value.ExhibitionName
                    @item.Value.ImageName
                </div>
                <div class="col-sm">
                    @item.Value.ExhibitionId
                    @item.Value.ExhibitionName
                    @item.Value.ImageName
                </div>
                <div class="col-sm">
                    @item.Value.ExhibitionId
                    @item.Value.ExhibitionName
                    @item.Value.ImageName
                </div>
            </div>
        </div>




    }


</div>


