@page
@model _1.e_Projekt.Pages.MyPages.UserFolder.AddUserModel
@{
}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">  Sign Up  </h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger">  </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.AddedUsers.FirstName">First Name</label>
                    <input type="text" asp-for="@Model.AddedUsers.FirstName" class="form-control" />
                    <span asp-validation-for="@Model.AddedUsers.FirstName" class="text-danger">  </span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.AddedUsers.LastName">Last Name</label>
                    <input type="text" asp-for="@Model.AddedUsers.LastName" class="form-control" />
                    <span asp-validation-for="@Model.AddedUsers.LastName" class="text-danger">  </span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.AddedUsers.Email">Email</label>
                    <input type="text" asp-for="@Model.AddedUsers.Email" class="form-control" />
                    <span asp-validation-for="@Model.AddedUsers.Email" class="text-danger">  </span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.AddedUsers.Password ">Password</label>
                    <input type="text" asp-for="@Model.AddedUsers.Password" class="form-control" />
                    <span asp-validation-for="@Model.AddedUsers.Password" class="text-danger">  </span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.AddedUsers.ConfirmPassword">ConfirmPassword</label>
                    <input type="text" asp-for="@Model.AddedUsers.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="@Model.AddedUsers.ConfirmPassword" class="text-danger">  </span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary"> Register</button>
                </div>
            </form>
        </div>
    </div>
</div>